@Html.Partial("header.cshtml")

<h1>Insert how much change you want me to count</h1>
<form class="" action="/change" method="post">
  <label for="change">Change:</label><input type="number" name="change" min="0" autofocus>
  <input type="submit" name="submit" value="COUNT THE CHANGE!">
</form>
